header {
	background-color: $headerBackgroundAndBorder;

	section.wrapper {
		padding-left: 0;
	}

	img {
		float:left;
	}

	div {
		float:right;
		line-height: 100px;
	}

	input {
	    @include search-box();
		width: 300px;
		margin-right: 10px;
	}

	button {
		@include search-box();
		background-color: $buttonCol;
		color: $buttonTextCol;
	}
}

@media all and (max-width:620px) {
	header {
		div {
			float:none;
			line-height:20px;
		}
		input, button {
			width:100%;
			margin: 10px;
			margin-top:0;
		}
	}
}