main section {
 	margin:30px auto; 

 	>div {
 		display: none;

 		iframe, div {
 			float: left;
			padding: 15px;
 		}
 	}

 	ul {
 		list-style-type: none;

		li {
		position:relative;
			max-height: 190px;
			overflow: hidden;
			margin:15px 0;
			padding: 10px;
			background-color: $videoBackground;
			border: solid 2px $headerBackgroundAndBorder;

			a { 
			position:relative;
				height: 100%;
				width: 100%;

				img {
					width:30%;
					@include video-link();
				}

				div {
					width:70%;
					@include video-link();
				}
			}	
		}
 	}
}

#video-info {
 	width:45%;
	max-height: 315px;
	overflow: auto;
}

.visible {
	display:block;
}

.context-show {
	overflow:auto;
}

@media all and (max-width:1100px) {
	#video-info {
	 	width:100%;
		max-height: 150px;
		padding-top:0;
	}

	main section div iframe {
		display:block;
		margin:0 auto;
	}

	main section ul li {
		max-height:245px;
		a div {
			width: 60%;
			h2{
				margin: 0;
			}
		}
	}

	main section ul li a img{
		width:40%;
	}
}

@media all and (max-width:620px) {
	main section div iframe {
		width:100%;
	}

	main section ul li {
		max-height:350px;
		a div {
			width: 100%;
			h2{
				margin: 10px;
			}
		}
	}

	main section ul li a img{
		width:50%;
	}
}

@media all and (max-width:470px) {
	main section div iframe {
		height:100%;
		width:auto;
	}

	main section ul li a img{
		width:100%;
	}
}